.leaderboard{
  width: 95%;
  background-color: rgb(80, 80, 80);
  border: 4px solid black;
  margin: auto;
  
}
.row{
  width: auto;
  filter: invert(1);
  mix-blend-mode: difference;
}
.lbHead{
  background-color: rgb(20, 20, 20);
  color: white;
}
.lbBody > tr:nth-child(odd){
  background-color: rgb(120, 120, 120);
}
td{
  text-align: center;
  filter: invert(1);
  mix-blend-mode: difference;
}