html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(46, 46, 46);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.question{
  background-image: linear-gradient(white, white, rgba(255, 255, 255, .9), transparent);
  /* filter: drop-shadow(-2px -2px #FF000080) drop-shadow(2px 2px #FFFF0080) drop-shadow(2px -2px #0000FF80) drop-shadow(-2px 2px #00FF0080); */
  color: transparent;
  background-clip: text;
  transition: background-color 1s ease;
}

.letterBox{
  width: max(3vw, 3vh);
  height: max(3vw, 3vh);
  font-size: calc(max(3vw, 3vh) * .75);
  text-align: center;

  background-color: rgba(0, 0, 0, .1);
  
  box-sizing: border-box;
  /* border: 1px solid rgb(100, 100, 100); */

  color: rgb(226, 226, 226);

  border: none;
  box-shadow: 3px 4px 0 -2px #000000;

  transition: background-color .2s;
  transition: width .2s;
  transition: height .2s;
}
.letterBox:hover{
  width: max(3.2vw, 3.2vh);
  height: max(3.2vw, 3.2vh);
  background-color: rgb(14, 14, 14);
}

.topBarDrawer{
  position: absolute;
  top: 0;
  left: calc(40% - 3vh);
  width: 2vh;
  height: 3vh;

  border: none;
  background-image: url("dropdownArrow.png");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  

  transition: transform .3s ease;

  transform: rotate(90deg);
}

.topBar{
  background-color: rgb(40, 40, 40);
  margin: auto;
  margin-top: 0px;
  
  padding-top: 3px;

  width: 20%;
  height: 6%;
  
  color: rgb(255, 255, 255);

  transition: height .3s ease;

  overflow: hidden;
}

.topBarText{
  margin: 0px;
}


.titleBar{
  background-color: rgb(100, 100, 100);
  width: 100%;
  height: 10%;
  top: 0px;
  margin: auto;
}
.title{
  /* background-image: linear-gradient(red, blue); */
  filter: drop-shadow(-2px -2px #FF000080) drop-shadow(2px 2px #FFFF0080) drop-shadow(2px -2px #0000FF80) drop-shadow(-2px 2px #00FF0080);
  /* color: transparent; */
  /* background-clip: text; */
  font-size: 100px;
}

.spacingBox{
  margin-left: max(.75vw, .75vh);
  margin-right: max(.75vw, .75vh);
}

h1{
  font-size: 50px;
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 25px;
  text-align: center;
}
.colorBox{
  width: min(70vw, 70vh); 
  height: min(30vw, 30vh);
  margin: auto;
  transition: background-color .5s ease;
  transition: width .5s ease;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.colorBox:hover{
  width: min(100vw, 100vh); 
}
.colorBoxBorder{
  border: min(2vh, 2vw), dashed, rgba(255, 255, 255, 1);

  box-shadow:
  -5px -5px 0px -3px black, /* Top-left */
  5px -5px 0px -3px black,  /* Top-right */
  -5px 5px 0px -3px black,  /* Bottom-left */
  5px 5px 0px -3px black;   /* Bottom-right */

  mix-blend-mode: difference;

  width: 100%;
  height: 100%;
  z-index: 0;
  
  box-sizing: border-box;

  transition: border-width .5s ease;
}
.colorBoxBorder:hover{
  border-width: min(3vh, 3vw);
}

.questionBox{
  padding-bottom: 1px;
  background-color: rgba(0, 0, 0, .3);
  color: white;
}

.wordBox{
  width: 1%;
  display: flex;
  height: max(3vw, 3vh);
  margin: auto;
  justify-content: center;
  font-size: 0px;
}

.answerBox{
  width: 70%;
  align-items: center;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: 3px solid purple; */
}
.button{
  padding: 0px;
  margin: 0px;
  width: 48%;
  height: 100%; 

  border: 2px solid transparent;
  background-color: #00000030;
  border-right: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  margin-right: 5px;

  color: white;
  font-size: 25px;

  transition: background-color .3s;
  transition: border-width .3s;
}
.button:hover{
  background-color: black;
  border-width: 10px;
  border-bottom: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
}
.buttonBox{
  font-size: 0px;
  width: 90%;
  height: 10vh;
  margin: auto;
  padding-top: 1%;
}
br {
  content: '\A';
  display: contents;
  white-space: pre;
}

.main{
  width: 100%;
  height: 100%;
  margin: auto;

  align-items: center;
  grid-template-columns: 10px, 10px, 10px;
  grid-template-rows: 10px, 10px, 10px;

  box-sizing: border-box;
}
.done{
  width: 70%;
  height: 85%;
  margin: auto;
}
.home{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  padding-top: 0px;
  margin-top: 0px;

  background-color: rgb(255, 255, 255);
}
.qNum{
  width: 20%;
  height: 8%;
  font-size: auto;
  margin: auto;
}

.midBar{
  margin: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, .3);
  width: 100%;
  height: 60%;
}

.background{
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
}
.incorrect{
  color: red;
}
.correct{
  color: lime;
}
